# Byte-compiled / cache
__pycache__/
*.py[cod]

# Environments
.env
.venv

# OS junk
.DS_Store

# Local data (large files) - not tracked
data/**
artifacts/csv/**
comprehensive_data/**

# Checkpoints
.ipynb_checkpoints/
__pycache__/
*.py[cod]
.ipynb_checkpoints/
